body{
    color: #222;
    font-family: sans-serif;
    text-align: center;
    background: #ededed;
}

.canvas{
    border: 0.5vh solid #000;

}

.editor {
    margin: 10vh;
    background: #fff;
    width: fit-content;
    margin: auto;
    margin-top: 5vh;
}

.stylesCont{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnCont{
    margin-top: 1vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.borrar{
    padding: 0.5vh 2vh;
}